<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>SocialBump</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/logos/logo11.png" rel="icon">
  <!-- <link href="/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Personal - v4.7.0
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <div class="wabtn" id="wabutton">
    <style> [wa-tooltip] { position: relative; cursor: default;  &:hover { &::before { content: attr(wa-tooltip); font-size: 16px; text-align: center; position: absolute; display: block; right: calc(0% - 100px); left: null; min-width: 200px; max-width: 200px; bottom: calc(100% + 10px); transform: translate(-50%); animation: fade-in 500ms ease; background: #00E785; border-radius: 4px; padding: 10px; color: #ffffff; z-index: 1; } } } @keyframes pulse { 0% { transform: scale(1); } 50% { transform: scale(1.1); } 100% { transform: scale(1); } }  @keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }</style>
    <a wa-tooltip="We are available! Click here to chat" class="wsButton" target="_blank" href="https://wa.me/923126254203?text=" style=" cursor: pointer;height: 62px;width: auto;padding: 10px 10px 10px 10px;position: fixed !important;color: #fff;bottom: 50px;right: 60px;;display: flex;font-size: 18px;font-weight: 600;align-items: center;z-index: 999999999 !important;background-color: #00E785;box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);border-radius: 100px;animation: pulse 2.5s ease infinite;">
      <svg width="42" height="42" style="padding: 5px;" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1024_354)"><path d="M23.8759 4.06939C21.4959 1.68839 18.3316 0.253548 14.9723 0.0320463C11.613 -0.189455 8.28774 0.817483 5.61565 2.86535C2.94357 4.91323 1.10682 7.86244 0.447451 11.1638C-0.21192 14.4652 0.351026 17.8937 2.03146 20.8109L0.0625 28.0004L7.42006 26.0712C9.45505 27.1794 11.7353 27.7601 14.0524 27.7602H14.0583C16.8029 27.7599 19.4859 26.946 21.768 25.4212C24.0502 23.8965 25.829 21.7294 26.8798 19.1939C27.9305 16.6583 28.206 13.8682 27.6713 11.1761C27.1367 8.48406 25.8159 6.01095 23.8759 4.06939ZM14.0583 25.4169H14.0538C11.988 25.417 9.96008 24.8617 8.1825 23.8091L7.7611 23.5593L3.3945 24.704L4.56014 20.448L4.28546 20.0117C2.92594 17.8454 2.32491 15.2886 2.57684 12.7434C2.82877 10.1982 3.91938 7.80894 5.67722 5.95113C7.43506 4.09332 9.76045 2.87235 12.2878 2.48017C14.8152 2.08799 17.4013 2.54684 19.6395 3.78457C21.8776 5.02231 23.641 6.96875 24.6524 9.3179C25.6638 11.6671 25.8659 14.2857 25.2268 16.7622C24.5877 19.2387 23.1438 21.4326 21.122 22.999C19.1001 24.5655 16.6151 25.4156 14.0575 25.4157L14.0583 25.4169Z" fill="#E0E0E0"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M10.6291 7.98363C10.3723 7.41271 10.1019 7.40123 9.85771 7.39143C9.65779 7.38275 9.42903 7.38331 9.20083 7.38331C9.0271 7.3879 8.8562 7.42837 8.69887 7.5022C8.54154 7.57602 8.40119 7.68159 8.28663 7.81227C7.899 8.17929 7.59209 8.62305 7.38547 9.11526C7.17884 9.60747 7.07704 10.1373 7.08655 10.6711C7.08655 12.3578 8.31519 13.9877 8.48655 14.2164C8.65791 14.4452 10.8581 18.0169 14.3425 19.3908C17.2382 20.5327 17.8276 20.3056 18.4562 20.2485C19.0848 20.1913 20.4843 19.4194 20.7701 18.6189C21.056 17.8183 21.0557 17.1323 20.9701 16.989C20.8844 16.8456 20.6559 16.7605 20.3129 16.5889C19.9699 16.4172 18.2849 15.5879 17.9704 15.4736C17.656 15.3594 17.4275 15.3023 17.199 15.6455C16.9705 15.9888 16.3139 16.7602 16.1137 16.9895C15.9135 17.2189 15.7136 17.2471 15.3709 17.0758C14.3603 16.6729 13.4275 16.0972 12.6143 15.3745C11.8648 14.6818 11.2221 13.8819 10.7072 13.0007C10.5073 12.6579 10.6857 12.472 10.8579 12.3007C11.0119 12.1472 11.2006 11.9005 11.3722 11.7003C11.5129 11.5271 11.6282 11.3346 11.7147 11.1289C11.7603 11.0343 11.7817 10.9299 11.7768 10.825C11.7719 10.7201 11.7409 10.6182 11.6867 10.5283C11.6001 10.3566 10.9337 8.66151 10.6291 7.98363Z" fill="white"></path><path d="M23.7628 4.02445C21.4107 1.66917 18.2825 0.249336 14.9611 0.0294866C11.6397 -0.190363 8.35161 0.804769 5.70953 2.82947C3.06745 4.85417 1.25154 7.77034 0.600156 11.0346C-0.051233 14.299 0.506321 17.6888 2.16894 20.5724L0.222656 27.6808L7.49566 25.7737C9.50727 26.8692 11.7613 27.4432 14.0519 27.4434H14.0577C16.7711 27.4436 19.4235 26.6392 21.6798 25.1321C23.936 23.6249 25.6947 21.4825 26.7335 18.9759C27.7722 16.4693 28.0444 13.711 27.5157 11.0497C26.9869 8.38835 25.6809 5.94358 23.7628 4.02445ZM14.0577 25.1269H14.0547C12.0125 25.1271 10.0078 24.5782 8.25054 23.5377L7.8339 23.2907L3.51686 24.4222L4.66906 20.2143L4.39774 19.7831C3.05387 17.6415 2.4598 15.1141 2.70892 12.598C2.95804 10.082 4.03622 7.72013 5.77398 5.88366C7.51173 4.04719 9.81051 2.84028 12.3089 2.45266C14.8074 2.06505 17.3638 2.5187 19.5763 3.74232C21.7888 4.96593 23.5319 6.89011 24.5317 9.21238C25.5314 11.5346 25.7311 14.1233 25.0993 16.5714C24.4675 19.0195 23.0401 21.1883 21.0414 22.7367C19.0427 24.2851 16.5861 25.1254 14.0577 25.1255V25.1269Z" fill="white"></path></g><defs><clipPath id="clip0_1024_354"><rect width="27.8748" height="28" fill="white" transform="translate(0.0625)"></rect></clipPath></defs></svg>
      <span class="button-text"></span>
    </a>
  </div>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">
 
      <h1><img src="/img/logos/logo11.png" alt=""></h1>
      
      <h2 class="mt-1"><b>WE ARE THRILLED TO HELP YOU WITH</b> <b style="color: #efc016; font-weight: 700;">SOCIAL MEDIA MARKETING</b></h2>
      <h2 class="mb-0 mt-2"><b>DIGITAL MARKETING AGENCY FOR YOUR BUISENSS GROWTH</b></h2>
      <!-- <h5 class="">and excited to help you reach your advertising goals.</h5> -->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#resume">Coaching</a></li>
          <li><a class="nav-link" href="#services">Services</a></li>
          <!-- <li><a class="nav-link" href="#portfolio">Projects</a></li> -->
          <li><a class="nav-link" href="#review">Testimonials</a></li>
          <li><a class="nav-link" id="nav-link-contact" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="#" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/profile.php?id=61560467762725" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>everything you need to know about us</p>
      </div>

      <div class="row">
        <!-- <div class="col-lg-2" data-aos="fade-right"> 
        </div> -->
        <div class="col-lg-12 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Overview</h3>
          <p class="fst-italic px-2" style="text-align: justify;">
            SocialBump.digital, is the leading Digital Marketing Agency which is made up of dedicated consultants, strategists, writers, and designers who care deeply about the work that we do on behalf of our clients. We know that passion and hard work wins both hearts and minds. And we know that both are an important part of what we do, that is why we surround ourselves brightest minds and the best people in the industry. We deliver efficient and reliable services as Website Development, Digital Marketing, consulting, design and development, software maintenance.
          </p>

          <h3>CEO MESSAGE</h3>
          <p class="fst-italic px-2" style="text-align: justify;">
            At DigitalBump.digital, we help business owners rebuild their businesses according to the digital era. It’s not just that our services are excellent; we are also dedicated and focused on bringing exceptional outcomes even in high-pressure and time-sensitive situations. We offer services in, but not limited to, Digital Marketing, Web Design and Development, DevOps Consulting, and Software Maintenance. We pride ourselves on the fact that we have a wide range of technology experts under the same roof. We have a multi-disciplinary team of experts who know their domain and can contribute their best whenever needed. Our team’s time flexibility, experience, honesty, and commitment have made us a trusted business resource.
          </p>
          <p class="fst-italic px-2" style="text-align: justify;">
            For us, it is important that we treat each client with the highest level of responsibility and dedication. This mindset has helped us build strong relationships with our clients and many have continued to utilize our services over the years. Looking forward, we are focused on accelerating the execution of our growth strategy while proceeding to expand on the strength of our services in helping our clients create innovation. Looking to the future, and our next phase of growth, it is important to remember what first inspired this company to succeed. While you are here, I encourage you to explore our website and learn more about all that we have to offer. I am sure that you will see why we love what we do.
          </p>

          <h3>OUR CREADIBILITY</h3>
          <p class="fst-italic px-2" style="text-align: justify;">
            We seek to listen well, team up, understand completely, think in an intelligent way, and use sound judgment. We grab every chance to roll up our sleeves and make an impact. We take time to pause and acknowledge where we came from, so we don’t miss how amazing the trip is.
          </p>
           
        </div>
        <!-- <div class="col-lg-2" data-aos="fade-right"> 
        </div> -->
      </div>

    </div><!-- End About Me -->

    <!-- ======= Counts ======= -->
    <div class="counts container">

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Happy Clients</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="bi bi-journal-richtext"></i>
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>Projects</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-headset"></i>
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-award"></i>
            <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span>
            <p>Awards</p>
          </div>
        </div>

      </div>

    </div><!-- End Counts -->

    <!-- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Facebook Ads<i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">instagram Ads<i class="val">1000%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Google Ads <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Tiktok Ads<i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Youtube Ads  <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Software Development <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

      </div>

    </div><!-- End Skills --> 
 
  </section><!-- End About Section -->


  <!-- ======= Coaching Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Coaching</h2>
        <!-- <p>Coaching</p> -->
      </div>

      <div class="row">
        <div class="col-lg-11">
          <h3 class="resume-title mt-0">Meta Ads Coaching Program</h3>
          <div class="resume-item pb-0 mb-4">
            <h4>Complete Overview</h4>
            <p><em>Welcome to our comprehensive Meta Ads Coaching Program! This 2-month course is designed to equip you with the skills and knowledge necessary to create, manage, and optimize Meta (formerly Facebook) ad campaigns effectively. Our program combines theoretical understanding with practical application to ensure you gain real-world experience.</em></p>
          </div> 
          <div class="resume-item pb-0 mb-4">
            <h4>Structure</h4> 
            <p><em>Meta Advertisement Coaching Program Structure</em></p>
            <p>
              <ul>
                <li>Duration: 2 Months (8 Weeks)</li>
                <li>Sessions per Week: 2</li>
                <li>Format: Online (Live sessions, recorded videos, assignments, and interactive workshops)</li>
              </ul>
            </p>
            <p><em>Open session for addressing participant questions and troubleshooting issues. Final tips and best practices for ongoing success</em></p>
          </div>
          <div class="resume-item pb-0 mb-4">
            <h4>Additional Components</h4> 
            <p class="mb-0"><em>Weekly Assignments and Projects:</em></p>
            <p>Practical tasks to reinforce learning and apply concepts
              Real-world case studies and examples for context
            </p>
            <p class="mb-0"><em>Resource Materials:</em></p>
            <p>Comprehensive guides, checklists, and templates
              Access to recorded sessions and supplementary videos
            </p>
            <p class="mb-0"><em>Support and Community:</em></p>
            <p>Private Facebook group or Slack channel for participants
              Continuous support from instructors and peers
            </p>
          </div>
          <div class="resume-item pb-0 mb-4">
            <h4>Evaluation</h4> 
            <p class="mb-0"><em>Mid-Program Review (End of Week 4):</em></p>
            <p>
              Progress review and feedback session to ensure participants are on track
            </p>
            <p class="mb-0"><em>Final Project Presentation (End of Week 8):</em></p>
            <p>
              Participants present their campaign results and key learnings Evaluation and feedback from instructors
            </p> 
          </div>
          
          <div class="d-flex">
            <h5 class="ms-1 link-warning">Join us on this journey to master Meta Ads and transform your advertising strategy.</h5>
            <div id="navbar"><a href="#contact" onclick="setActive()" class="nav-link link-info p-0 px-2 mb-1">Let’s get started!</a></div>
          </div>
           
        </div>
        <div class="col-lg-1">
          
        </div>
      </div>

      <div class="testimonials"> 
        <h3 class="resume-title">Reviews</h3> 
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper"> 
            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The Meta Ads Coaching Program exceeded my expectations. The instructors were knowledgeable and provided practical insights that I could apply immediately to my business. The hands-on workshops were invaluable, and my ad performance has improved significantly since completing the course.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p> 
                <h3>Jane D.</h3>
                <h4>E-commerce Entrepreneur</h4>
                <h4 class="mt-1">Rating: ★★★★★</h4>
              </div>
            </div> 

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  As a small business owner with limited marketing experience, this program was perfect for me. The instructors broke down complex concepts into manageable lessons, and the support community was always there to help with any questions I had. My sales have increased, and I'm more confident in managing my ad campaigns.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p> 
                <h3>Sara K.</h3>
                <h4>Small Business Owner</h4>
                <h4 class="mt-1">Rating: ★★★★★</h4>
              </div>
            </div>
  
            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  I've taken several online courses, but this Meta Ads Coaching Program stands out. The comprehensive curriculum covered everything I needed to know, from audience targeting to advanced strategies. The assignments and projects allowed me to apply what I learned in real-time, and the feedback from instructors was incredibly helpful.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Tom L.</h3>
                <h4>Freelance Marketer</h4>
                <h4 class="mt-1">Rating: ★★★★★</h4>
              </div>
            </div> 
  
            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  This program provided me with the tools and knowledge to take my Meta ad campaigns to the next level. The detailed lessons on ad creative and copywriting were particularly useful, and I saw a noticeable improvement in engagement and conversions. Highly recommended for anyone looking to master Meta ads.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Emily R.</h3>
                <h4>Social Media Manager</h4>
                <h4 class="mt-1">Rating: ★★★★★</h4>
              </div>
            </div>
            
            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  As a real estate agent, reaching the right audience is key. This program taught me how to effectively target potential buyers and sellers using Meta ads. The insights into ad creative and copywriting were particularly useful for creating compelling ads. I've received more inquiries and leads, thanks to this coaching program.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Michael W.</h3>
                <h4>Real Estate Agent</h4>
                <h4 class="mt-1">Rating: ★★★★★</h4>
              </div>
            </div> 

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  As a real estate agent, reaching the right audience is key. This program taught me how to effectively target potential buyers and sellers using Meta ads. The insights into ad creative and copywriting were particularly useful for creating compelling ads. I've received more inquiries and leads, thanks to this coaching program.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <h3>Alex H.</h3>
                <h4>Marketing Consultant</h4>
                <h4 class="mt-1">Rating: ★★★★★</h4>
              </div>
            </div> 
  
          </div>
          <div class="swiper-pagination"></div>
        </div>
  
        <div class="owl-carousel testimonials-carousel">
  
        </div>
  
      </div>

    </div>
  </section><!-- End Coaching Section -->

 
  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <!-- <p>My Services</p> -->
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" style="flex-direction: column;">
          <div class="icon-box"> 
            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24"><path fill="currentColor" d="M21.35 11.1h-9.17v2.73h6.51c-.33 3.81-3.5 5.44-6.5 5.44C8.36 19.27 5 16.25 5 12c0-4.1 3.2-7.27 7.2-7.27c3.09 0 4.9 1.97 4.9 1.97L19 4.72S16.56 2 12.1 2C6.42 2 2.03 6.8 2.03 12c0 5.05 4.13 10 10.22 10c5.35 0 9.25-3.67 9.25-9.09c0-1.15-.15-1.81-.15-1.81Z"/></svg></div>
            <h4><a href="">Google Ads</a></h4>
            <p>Drive More Traffic, Leads, and Sales with Our Expert Google Ads Management Services!</p>
          </div>
          <div id="navbar"> 
            <a href="#contact" onclick="setActive()" class="btn btn-success nav-link" style="color: white;">Let's Start</a> 
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" style="flex-direction: column;">
          <div class="icon-box"> 
            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24"><path fill="currentColor" d="M16.6 5.82s.51.5 0 0A4.278 4.278 0 0 1 15.54 3h-3.09v12.4a2.592 2.592 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48z"/></svg></div>
            <h4><a href="">Tiktok Ads</a></h4>
            <p>Make Your Mark on TikTok with Our Creative and Innovative Advertising Services!</p>
          </div>
          <div id="navbar"> 
            <a href="#contact" onclick="setActive()" class="btn btn-success nav-link" style="color: white;">Let's Start</a> 
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" style="flex-direction: column;">
          <div class="icon-box"> 
            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24"><path fill="currentColor" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95z"/></svg></div>
            <h4><a href="">Facebook Ads</a></h4>
            <p>Take Your Facebook Advertising to the Next Level with Our Expert Services!</p>
          </div>
          <div id="navbar"> 
            <a href="#contact" onclick="setActive()" class="btn btn-success nav-link" style="color: white;">Let's Start</a> 
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" style="flex-direction: column;">
          <div class="icon-box"> 
            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24"><path fill="currentColor" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z"/></svg></div>
            <h4><a href="">instagram Ads</a></h4>
            <p>Unleash the Power of Instagram Advertising with Our Proven Strategies!</p>
          </div>
          <div id="navbar"> 
            <a href="#contact" onclick="setActive()" class="btn btn-success nav-link" style="color: white;">Let's Start</a> 
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" style="flex-direction: column;">
          <div class="icon-box">
            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24"><path fill="currentColor" d="M12.244 4c.534.003 1.87.016 3.29.073l.504.022c1.429.067 2.857.183 3.566.38c.945.266 1.687 1.04 1.938 2.022c.4 1.56.45 4.602.456 5.339l.001.152v.174c-.007.737-.057 3.78-.457 5.339c-.254.985-.997 1.76-1.938 2.022c-.709.197-2.137.313-3.566.38l-.504.023c-1.42.056-2.756.07-3.29.072l-.235.001h-.255c-1.13-.007-5.856-.058-7.36-.476c-.944-.266-1.687-1.04-1.938-2.022c-.4-1.56-.45-4.602-.456-5.339v-.326c.006-.737.056-3.78.456-5.339c.254-.985.997-1.76 1.939-2.021c1.503-.419 6.23-.47 7.36-.476h.489ZM9.999 8.5v7l6-3.5l-6-3.5Z"/></svg></div>
            <h4><a href="">Youtube Ads</a></h4>
            <p>Unlock the Full Potential of YouTube Advertising with Our Customized Solutions!</p>
          </div>
          <div id="navbar"> 
            <a href="#contact" onclick="setActive()" class="btn btn-success nav-link" style="color: white;">Let's Start</a> 
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" style="flex-direction: column;">
          <div class="icon-box">
            <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 24 24"><path fill="currentColor" d="M9.41 16.59L8 18l-6-6l6-6l1.41 1.41L4.83 12l4.58 4.59zm5.18-9.18L16 6l6 6l-6 6l-1.41-1.41L19.17 12l-4.58-4.59z"/></svg></div>
            <h4><a href="">Web / App Development</a></h4>
            <p>Now providing Full Stack Website and Mobile Application solutions!</p>
          </div>
          <div id="navbar"> 
            <a href="#contact" onclick="setActive()" class="btn btn-success nav-link" style="color: white;">Let's Start</a> 
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Project Section ======= -->
  <!-- <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Projects</h2> 
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-company1">Company1</li>
            <li data-filter=".filter-company2">Company2</li>
            <li data-filter=".filter-company3">Company3</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-company1">
          <div class="portfolio-wrap">
            <img src="/img/testimonials/testimonials-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="/img/testimonials/testimonials-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-company3">
          <div class="portfolio-wrap">
            <img src="/img/testimonials/testimonials-4.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="/img/testimonials/testimonials-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-company1">
          <div class="portfolio-wrap">
            <img src="/img/logos/logo1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="/img/logos/logo1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-company2">
          <div class="portfolio-wrap">
            <img src="/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-company3">
          <div class="portfolio-wrap">
            <img src="/img/portfolio/portfolio-details-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="/img/portfolio/portfolio-details-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-company1">
          <div class="portfolio-wrap">
            <img src="/img/me.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="/img/me.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-company2">
          <div class="portfolio-wrap">
            <img src="/img/testimonials/testimonials-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="/img/testimonials/testimonials-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-company2">
          <div class="portfolio-wrap">
            <img src="/img/testimonials/testimonials-5.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <div class="portfolio-links">
                <a href="/img/testimonials/testimonials-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-company3">
          <div class="portfolio-wrap">
            <img src="/img/testimonials/testimonials-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="/img/testimonials/testimonials-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section> -->
  <!-- End Project Section -->

   <!-- ======= Review Section ======= -->
   <section id="review" class="about">

    <!-- ======= About Me ======= -->
    <!-- <div class="about-me container">

      <div class="section-title">
        <h2>Client Reviews</h2> 
      </div>

      <div class="row">
        <div class="col-lg-1" data-aos="fade-right"> 
        </div>
        <div class="col-lg-10 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>What our clients say about us</h3>
          <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p> 
          <p>
            Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
            Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
          </p>
        </div>
        <div class="col-lg-1" data-aos="fade-right"> 
        </div>
      </div>

    </div> -->
 
    <!-- ======= Testimonials ======= -->
    <div class="testimonials container">

      <div class="section-title">
        <h2>Testimonials</h2>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Working with SocialBump.Digital has been a game-changer for our startup. Their team took the time to understand our unique needs and delivered a comprehensive marketing strategy that significantly boosted our online presence. We've seen a 40% increase in web traffic and a 25% increase in sales within the first three months.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>John S.</h3>
              <h4>CEO of TechStart</h4>
              <h4 class="mt-1">Rating: ★★★★★</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                The team at SocialBump.Digital is fantastic! They helped revamp our social media presence and created engaging ad campaigns that resonated with our target audience. Our Instagram following has grown by 50%, and our store traffic has increased dramatically. I couldn't be happier with the results.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Lisa M.</h3>
              <h4>Owner of Bella Boutique</h4>
              <h4 class="mt-1">Rating: ★★★★★</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                As a non-profit organization, it was crucial for us to find a marketing partner that understood our mission. [Your Marketing Agency] not only helped us increase awareness but also improved our donor engagement. Their strategies have led to a 30% increase in donations, allowing us to further our environmental initiatives.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Sarah T.</h3>
              <h4>Founder of GreenEarth</h4>
              <h4 class="mt-1">Rating: ★★★★★</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                We partnered with SocialBump.Digital for our latest product launch, and they exceeded our expectations. Their expertise in digital marketing and creative approach helped us achieve a successful launch, with our campaign reaching millions of potential customers. Their attention to detail and commitment to our success were evident throughout the process.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Michael R.</h3>
              <h4>Director of Marketing at HealthPlus</h4>
              <h4 class="mt-1">Rating: ★★★★★</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                I can't recommend SocialBump.Digital enough. They transformed our outdated website into a modern, user-friendly platform and implemented effective SEO strategies that have increased our organic search traffic by 60%. Their team's professionalism and creativity are top-notch.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>David P.</h3>
              <h4>Managing Director at LuxTravel</h4>
              <h4 class="mt-1">Rating: ★★★★★</h4>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="owl-carousel testimonials-carousel">

      </div>

    </div><!-- End Testimonials  -->

  </section><!-- End About Section -->
 
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact us</h2>
        <!-- <p>Contact Me</p> -->
      </div>

      <form action="#" method="post" role="form" class="php-email-form mt-4">
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div>
        </div>
        <div class="form-group mt-3">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">Send Message</button></div>
      </form>

      <div class="row mt-4">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>My Address</h3>
            <p>A108 Adam Street, New York, NY 535022</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Telegram</h3>
           <p> @DavidDan12 </p>
            <!-- <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div> -->
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Me</h3>
            <p>andersonwallet52@gmail.com</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Call Me</h3>
            <p>+1 (217) 286-1672</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Contact Section -->

  <div class="credits">
    <!-- All the links in the footer should remain intact.
    You can delete the links only if you purchased the pro version.
    Licensing information: https://socialbump.digital/
    Purchase the pro version with working PHP/AJAX contact form: https://socialbump.digital/ -->
    Reserved by <a href="javascript:(0)">SocialBump</a>
  </div>

  <!-- Vendor JS Files -->
  <script src="/vendor/purecounter/purecounter.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>